Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

In [220]:
import pandas as pd

schools = pd.read_csv("schools.csv")

schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [221]:
best_math_schools = schools[schools['average_math'] > 640][['school_name','average_math']]

In [222]:
best_math_schools.head()

                                          school_name  average_math
0   New Explorations into Science, Technology and ...           657
45                      Eleanor Roosevelt High School           641
68  High School for Mathematics, Science, and Engi...           683
88                             Stuyvesant High School           754
93                Staten Island Technical High School           711

In [223]:
best_math_schools = best_math_schools.sort_values('average_math',ascending=False)

In [224]:
schools['total_SAT'] = schools['average_math'] + schools['average_writing'] + schools['average_reading']

In [225]:
top_10_schools = schools[['school_name','total_SAT']].sort_values('total_SAT',ascending=False)

In [226]:
top_10_schools = top_10_schools.head(10)

In [227]:
borough_schools_std = schools.groupby('borough')[['total_SAT']].std()
borough_schools_std

                total_SAT
borough
Bronx          150.393901
Brooklyn       154.868427
Manhattan      230.294140
Queens         195.252899
Staten Island  222.303596

In [228]:
borough_max_std = borough_schools_std['total_SAT'].idxmax()

In [229]:
borough_max_std

'Manhattan'

In [230]:
borough_num_schools = schools.groupby('borough').size()

manhattan_school_count = borough_num_schools['Manhattan']

print(manhattan_school_count)

89

In [231]:
borough_group = schools.groupby('borough')['total_SAT'].mean()
school_average_SAT = round(borough_group['Manhattan'] ,2)

In [232]:
school_std_SAT = schools.groupby('borough')['total_SAT'].std()
school_std_SAT = round(school_std_SAT['Manhattan'],2)

In [233]:
largest_std_dev = pd.DataFrame({
    'borough': borough_max_std,
    'num_schools': manhattan_school_count,
    'average_SAT': school_average_SAT,
    'std_SAT': school_std_SAT
}, index=[0])

print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29